<!DOCTYPE html>
<html>
<head>
    <title>Weather Dashboard</title><link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Weather Dashboard</h1>

    <form method="POST">
        <input type="text" name="city" placeholder="Enter City">
        <button type="submit">Search</button>
    </form>

    {% if weather %}
<div class="weather-card">
    <h2>{{ weather.city }}</h2>
    <p>🌡 Temperature: {{ weather.temp }} °C</p>
    <p>💧 Humidity: {{ weather.humidity }} %</p>
    <p>☁ Condition: {{ weather.condition }}</p>
</div>
{% endif %}

</body>
</html>